@import "../styles/normalize.css";
@import "../styles/fonts.css";
.page {
  font-family: "Golos", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  min-width: 320px;
  max-width: 1440px;
  width: 100%;
  height: 100%;
  background-color: #0a0a0a;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

.header {
  margin: 0 auto;
  padding: 0 0px;
  box-sizing: border-box;
  background-image: url("../images/header.png");
  width: 100%;
  height: 810px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}
.header__menu-button {
  margin: 40px 20px 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("../images/menu-button.svg");
  background-size: cover;
  background-position: center;
  max-width: 48px;
  height: 48px;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s linear;
  box-sizing: border-box;
}
.header__menu-button:hover {
  opacity: 0.6;
}
.header__title {
  margin: 120px 20px;
  padding: 0;
  display: block;
  max-width: 460px;
  font-weight: 500;
  font-weight: 500;
  font-size: 64px;
  line-height: 80px;
  color: #0a0a0a;
}
@media screen and (max-width: 780px) {
  .header__title {
    margin-top: 80px;
  }
}

@media screen and (max-width: 750px) {
  .header {
    height: 360px;
  }
  .header__title {
    max-width: 280px;
    font-size: 32px;
    margin-top: 40px;
  }
  .header__menu-button {
    background-image: url("../images/menu-button-mini.svg");
    max-width: 24px;
    height: 24px;
    margin-top: 20px;
  }
  .header__button {
    width: 280px;
  }
}
.collection {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
}
.collection__title {
  font-weight: 500;
  font-size: 64px;
  line-height: 80px;
  margin: 0;
  padding-top: 80px;
}
.collection__info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 40px 20px 80px;
}
.collection__info-paragraph {
  font-size: 16px;
  line-height: 24px;
  max-width: 690px;
  margin: 0;
}
.collection__info-image {
  max-width: 460px;
  -o-object-fit: cover;
     object-fit: cover;
}
.collection__image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.collection__training {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 80px 20px;
}
.collection__training-title {
  max-width: 460px;
  font-size: 32px;
  line-height: 40px;
  margin: 0;
}
.collection__training-paragraph {
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  max-width: 690px;
}

@media screen and (max-width: 1200px) {
  .collection__info-paragraph {
    max-width: 359px;
    padding-right: 10px;
  }
  .collection__info-image {
    max-width: 359px;
  }
  .collection__training {
    padding: 80px 20px;
  }
  .collection__training-title {
    max-width: 359px;
    font-size: 24px;
    line-height: 32px;
    padding-right: 10px;
  }
  .collection__training-paragraph {
    max-width: 359px;
  }
}
@media screen and (max-width: 750px) {
  .collection__info {
    padding: 40px 20px 80px;
  }
  .collection__title {
    padding-top: 40px;
    font-size: 32px;
    line-height: 40px;
  }
  .collection__info {
    flex-direction: column;
    align-items: center;
    padding: 20px 20px 40px;
  }
  .collection__info-paragraph {
    font-size: 16px;
    line-height: 24px;
    padding: 0 0 20px;
    max-width: 280px;
  }
  .collection__info-image {
    max-width: 280px;
  }
  .collection__training {
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
  }
  .collection__training-title {
    font-size: 20px;
    line-height: 28px;
    padding: 0 0 20px;
    max-width: 280px;
  }
}
.cargo {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  position: relative;
}
.cargo__title {
  font-weight: 500;
  font-size: 64px;
  line-height: 80px;
  margin: 0;
  padding: 80px 0 40px;
}
.cargo__card {
  max-width: 1440px;
  width: 99.8%;
  overflow-x: scroll;
  padding-bottom: 20px;
  position: relative;
}
.cargo__card-container {
  max-width: 1440px;
  height: 400px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 326px;
  padding: 0;
  list-style: none;
  z-index: 0;
}
.cargo__buy-button {
  height: 40px;
  width: 116px;
  background-image: url(../images/buy-button.svg);
  background-color: transparent;
  border: none;
  position: absolute;
  left: 20px;
  bottom: 20px;
  z-index: 1;
  cursor: pointer;
  transition: opacity 0.2s linear;
  -webkit-transition: opacity 0.2s linear;
}
.cargo__buy-button:hover {
  opacity: 0.8;
}
.cargo__buy-button:hover:active {
  opacity: 1;
}
.cargo__swipe-right {
  height: 40px;
  width: 40px;
  background-image: url(../images/arrow-right.svg);
  background-color: transparent;
  border: none;
  position: absolute;
  background-repeat: no-repeat;
  padding: 20px;
  top: 400px;
  right: 20px;
  z-index: 1;
  cursor: pointer;
  transition: opacity 0.2s linear;
  -webkit-transition: opacity 0.2s linear;
}
.cargo__swipe-right:hover {
  opacity: 0.8;
}
.cargo__swipe-right:hover:active {
  opacity: 1;
}
.cargo__swipe-left {
  height: 40px;
  width: 40px;
  background-image: url(../images/arrow-left.svg);
  background-color: transparent;
  border: none;
  position: absolute;
  background-repeat: no-repeat;
  padding: 20px;
  top: 400px;
  left: 20px;
  z-index: 1;
  cursor: pointer;
  transition: opacity 0.2s linear;
  -webkit-transition: opacity 0.2s linear;
}
.cargo__swipe-left:hover {
  opacity: 0.8;
}
.cargo__swipe-left:hover:active {
  opacity: 1;
}
.cargo__card::-webkit-scrollbar {
  height: 4px;
  width: calc(100% - 40px);
}
.cargo__card::-webkit-scrollbar-button {
  width: 15px;
}
.cargo__card::-webkit-scrollbar-track {
  background-color: #292929;
  border-radius: 100px;
}
.cargo__card::-webkit-scrollbar-thumb {
  background-color: #ebebeb;
  border-radius: 100px;
}
.cargo__card-item {
  position: relative;
  -o-object-fit: contain;
     object-fit: contain;
}
.cargo__card-image {
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}
.cargo__paragraph {
  text-align: start;
  font-size: 16px;
  line-height: 24px;
  max-width: 690px;
  margin: 0;
  padding: 0 20px 0 0;
}
.cargo__text {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 80px 0 80px;
}
.cargo__image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 1200px) {
  .cargo__paragraph {
    max-width: 359px;
  }
}
@media screen and (max-width: 750px) {
  .cargo__card {
    padding: 0 0 8px;
  }
  .cargo__title {
    padding: 0 0 8px;
    font-size: 32px;
    line-height: 40px;
  }
  .cargo__swipe-left {
    top: 265px;
  }
  .cargo__swipe-right {
    top: 265px;
  }
  .cargo__buy-button {
    max-width: 286px;
    padding-right: 280px;
    background-image: url(../images/buy-button-big.svg);
    background-repeat: no-repeat;
  }
  .cargo__paragraph {
    padding: 0;
    max-width: 280px;
    text-align: start;
    margin: 0 auto;
  }
  .cargo__text {
    display: inline-block;
    box-sizing: border-box;
    padding: 40px 20px;
    margin: 0 auto;
  }
}
.footer {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0a0a0a;
  min-height: 448px;
}
.footer__title {
  margin: 80px 0 0;
  padding: 0;
  font-weight: 500;
  font-size: 64px;
  line-height: 125%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.footer__subtitle {
  margin: 40px 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}
.footer__email {
  border: none;
  text-align: center;
  border-radius: 100px;
  width: 280px;
  height: 35px;
}
.footer__button {
  background-color: #0a0a0a;
  color: white;
  border: 1px #ffffff solid;
  border-radius: 100px;
  width: 171px;
  height: 40px;
  font-weight: 500;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  transition: opacity 0.2s linear;
  -webkit-transition: opacity 0.2s linear;
}
.footer__button:hover {
  opacity: 0.6;
}
.footer__button:active {
  opacity: 1;
}
.footer__sign {
  margin: 40px 0 0;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

@media screen and (max-width: 750px) {
  .footer {
    min-height: 390px;
  }
  .footer__title {
    margin-top: 40px;
    font-size: 32px;
    line-height: 40px;
  }
  .footer__subtitle {
    width: 280px;
    margin: 20px 0;
  }
  .footer__form {
    display: flex;
    min-height: 90px;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer__button {
    width: 280px;
  }
  .footer__sign {
    margin-top: 20px;
    max-width: 280px;
  }
}
.popup {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 810px;
  opacity: 0;
  background-color: #0a0a0a;
  display: flex;
  flex-direction: column;
  border: 1px solid red;
}
.popup__close-button {
  margin: 40px 0 0 40px;
  padding: 0;
  background-color: transparent;
  background-image: url("../images/close-button.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  width: 48px;
  min-height: 48px;
  cursor: pointer;
  transition: opacity 0.2s linear;
  -webkit-transition: opacity 0.2s linear;
  align-self: flex-start;
}
.popup__close-button:hover {
  opacity: 0.6;
}
.popup__navigation {
  display: block;
  margin: 0;
  padding: 0;
  align-self: center;
}
.popup__list {
  margin: 149px 0 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popup__list-item {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.popup__link {
  margin: 40px 0;
  padding: 0;
  width: 100%;
  text-decoration: none;
  box-sizing: border-box;
  align-self: center;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  transition: opacity 0.2s linear;
  -webkit-transition: opacity 0.2s linear;
}
.popup__link:hover {
  opacity: 0.6;
}
.popup__link:active {
  opacity: 1;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 1200px) {
  .popup__link {
    font-size: 24px;
    line-height: 32px;
  }
}
@media screen and (max-width: 750px) {
  .popup {
    min-height: 360px;
  }
  .popup__close-button {
    margin: 20px 0 0 20px;
    background-image: url("../images/close-button-mini.svg");
    width: 24px;
    min-height: 24px;
  }
  .popup__list {
    margin: 35px 0;
  }
  .popup__link {
    margin: 20px 0;
    font-size: 20px;
    line-height: 28px;
  }
}
.page {
  font-family: "Golos", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  min-width: 320px;
  max-width: 1440px;
  width: 100%;
  height: 100%;
  background-color: #0a0a0a;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  color: white;
}/*# sourceMappingURL=index.css.map */